@import url("https://cdn.pixabay.com/photo/2020/05/25/17/03/travel-5219496_1280.jpg");

body{
	background-image: url("https://cdn.pixabay.com/photo/2020/05/25/17/03/travel-5219496_1280.jpg");
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}

.lis{
  list-style:circle inside;
}

li{
  color: lightgrey;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-shadow: 2px 2px red;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 20px;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
