<!DOCTYPE html>
<html>
	<head>
		<title>airlines</title>
		<link rel="stylesheet" href="style.css">

	</head>
	<body>
		<div class="box">
			<form action="{{url_for('book')}}" method="post">
				<span class="text-center">book</span>
				<div class="input-container">
					<input type="text" name=name required=""/>
						<label>Name</label>		
				</div>
				<div class="input-container">		
					<select name=flight_id>
						{%for flight in flights%}
							<option value="{{flight.id}}">
						{{flight.origin}} to {{flight.destination}}
						{%endfor%}
					</select>
				</div>
				<button type="button" class="btn">submit</button>
			</form>
		</div>

		<a href="{{url_for('flights')}}">
			flights
		</a>
		<div></div>
		<a href="{{url_for('min')}}">
			search for flights from source to destination with minimum layovers
		</a>
	</body>
</html>
