<!DOCTYPE html>
<html>
	<head>
		<title>airlines</title>
		<link rel="stylesheet" href="style.css">

	</head>
	<body>
		<form action="{{url_for('book')}}" method="post">
			<select name=flight_id>
				{%for flight in flights%}
					<option value="{{flight.id}}">
						{{flight.origin}} to {{flight.destination}}
				{%endfor%}
			</select>
			<div class="form__group field">
			<input type=text name=name class="form_field" placeholder="Name" id='name'>
			<label for="name" class="form_label">Name</label>
			</div>
			
			<div></div>
			<button class="but">Submit</button>
		</form>
		<a href="{{url_for('flights')}}">
			flights
		</a>
		<div></div>
		<a href="{{url_for('min')}}">
			search for flights from source to destination with minimum layovers
		</a>
	</body>
</html>
